@import "tailwindcss";
@import "tw-animate-css";
@import "./plateui.css";
@plugin '../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:where(.dark, .dark *));

/* @custom-variant dark (&:is(.dark *)); */

@theme {
    --font-lxgwwenkai: LXGW WenKai Screen;
    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

.side-panel-height {
    min-height: calc(100dvh - 100px);
    height: calc(100dvh - 100px);
}
