@import "tailwindcss";

@theme {
    --default-font-family:
        LXGW WenKai Screen, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Lato, Roboto,
        "PingFang SC", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;

    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}
